.contactus-title{
    padding: 20px;
    margin-top: 20px;
    color:white;
   }
   .contactus-body{
       background-image: url("../assets/img/contactus-background.png");
       background-size: cover;
   }
   .contactus-btn{
       width:100px;
       background-color: rgb(126, 22, 22);
       color: white;
   }
   .contactus-cancel-btn{
    width:100px;
    margin-left: 60px;
    background-color: rgb(126, 22, 22);
    color: white;
   }

   .contactus-msg-box{
       margin-left: 180px;
       width: 350px;
       padding: 40px;
       background-color: white;
       border-radius: 5px;
   }
    .input-box{  
       border:none;
       border-bottom:2px solid black;
   }
   .contact-details{
       padding:10px;
       color:white;
   }
   .contact-link{
       margin-left: 50px;
       color:white;
   }