.card_hover:hover
{
   box-shadow:7px 7px 12px white;
   transition: 0.6s;
   border: 1px solid white;
   transform: scale(0.7);
}
.header{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.card{
    border: 1px;
}
.img-sizing{
    width: 400px;
    height: 200px;
    border: 1px;
}
.card_hover{
    height: 410px;
    width: 410px;
}

